body {
  position: relative;
  margin: -16px 0px 0px 0px;
}
.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.box {
  left: 0px;
  bottom: 0px;
  right: 0px;
  top: 0px;
  left: 0px;
  z-index: 10000;
  position: absolute;
  background: rgba(0, 0, 0, 0.22);
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}
