/*.nexus {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.nexus:before {
  position: absolute;
  content: "";
  display: block;
  width: 290px;
  height: 140px;
  left: 50%;
  margin-left: -145px;
  background: url("http://rednosemonkey.com/img/google-logo-290.min.png") no-repeat 50% 80px;
  background-size: 50%;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-animation: rotate 7s infinite forwards linear;
          animation: rotate 7s infinite forwards linear;
}

span {
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin: -15px;
  -webkit-animation: 1.25s infinite forwards linear;
          animation: 1.25s infinite forwards linear;
}
span:nth-child(1) {
  background-color: red;
  -webkit-animation-name: flip-right;
          animation-name: flip-right;
}
span:nth-child(2) {
  background-color: yellow;
  -webkit-animation-name: flip-bottom;
          animation-name: flip-bottom;
}
span:nth-child(3) {
  background-color: green;
  -webkit-animation-name: flip-left;
          animation-name: flip-left;
}
span:nth-child(4) {
  background-color: blue;
  -webkit-animation-name: flip-top;
          animation-name: flip-top;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes flip-right {
  0% {
    -webkit-transform: translate(0, 0) scaleX(1);
            transform: translate(0, 0) scaleX(1);
  }
  5% {
    -webkit-transform: translateX(30px) scaleX(0.1);
            transform: translateX(30px) scaleX(0.1);
    -webkit-transform-origin: 0 50%;
            transform-origin: 0 50%;
  }
  25% {
    -webkit-transform: translateX(23.07692px);
            transform: translateX(23.07692px);
    background-color: red;
  }
  90% {
    -webkit-transform: translate(0, 0) scaleX(1);
            transform: translate(0, 0) scaleX(1);
    background-color: rgba(255, 0, 0, 0.5);
  }
  100% {
    -webkit-transform: translate(0, 0) scaleX(1);
            transform: translate(0, 0) scaleX(1);
    background-color: rgba(255, 255, 255, 0.25);
  }
}
@keyframes flip-right {
  0% {
    -webkit-transform: translate(0, 0) scaleX(1);
            transform: translate(0, 0) scaleX(1);
  }
  5% {
    -webkit-transform: translateX(30px) scaleX(0.1);
            transform: translateX(30px) scaleX(0.1);
    -webkit-transform-origin: 0 50%;
            transform-origin: 0 50%;
  }
  25% {
    -webkit-transform: translateX(23.07692px);
            transform: translateX(23.07692px);
    background-color: red;
  }
  90% {
    -webkit-transform: translate(0, 0) scaleX(1);
            transform: translate(0, 0) scaleX(1);
    background-color: rgba(255, 0, 0, 0.5);
  }
  100% {
    -webkit-transform: translate(0, 0) scaleX(1);
            transform: translate(0, 0) scaleX(1);
    background-color: rgba(255, 255, 255, 0.25);
  }
}
@-webkit-keyframes flip-left {
  0% {
    -webkit-transform: translate(0, 0) scaleX(1);
            transform: translate(0, 0) scaleX(1);
  }
  5% {
    -webkit-transform: translateX(-30px) scaleX(0.1);
            transform: translateX(-30px) scaleX(0.1);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
  }
  25% {
    -webkit-transform: translateX(-23.07692px);
            transform: translateX(-23.07692px);
    background-color: green;
  }
  90% {
    -webkit-transform: translate(0, 0) scaleX(1);
            transform: translate(0, 0) scaleX(1);
    background-color: rgba(0, 128, 0, 0.5);
  }
  100% {
    -webkit-transform: translate(0, 0) scaleX(1);
            transform: translate(0, 0) scaleX(1);
    background-color: rgba(255, 255, 255, 0.25);
  }
}
@keyframes flip-left {
  0% {
    -webkit-transform: translate(0, 0) scaleX(1);
            transform: translate(0, 0) scaleX(1);
  }
  5% {
    -webkit-transform: translateX(-30px) scaleX(0.1);
            transform: translateX(-30px) scaleX(0.1);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
  }
  25% {
    -webkit-transform: translateX(-23.07692px);
            transform: translateX(-23.07692px);
    background-color: green;
  }
  90% {
    -webkit-transform: translate(0, 0) scaleX(1);
            transform: translate(0, 0) scaleX(1);
    background-color: rgba(0, 128, 0, 0.5);
  }
  100% {
    -webkit-transform: translate(0, 0) scaleX(1);
            transform: translate(0, 0) scaleX(1);
    background-color: rgba(255, 255, 255, 0.25);
  }
}
@-webkit-keyframes flip-top {
  0% {
    -webkit-transform: translate(0, 0) scaleY(1);
            transform: translate(0, 0) scaleY(1);
  }
  5% {
    -webkit-transform: translateY(-30px) scaleY(0.1);
            transform: translateY(-30px) scaleY(0.1);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  25% {
    -webkit-transform: translateY(-23.07692px);
            transform: translateY(-23.07692px);
    background-color: blue;
  }
  90% {
    -webkit-transform: translate(0, 0) scaleX(1);
            transform: translate(0, 0) scaleX(1);
    background-color: rgba(0, 0, 255, 0.5);
  }
  100% {
    -webkit-transform: translate(0, 0) scaleY(1);
            transform: translate(0, 0) scaleY(1);
    background-color: rgba(255, 255, 255, 0.25);
  }
}
@keyframes flip-top {
  0% {
    -webkit-transform: translate(0, 0) scaleY(1);
            transform: translate(0, 0) scaleY(1);
  }
  5% {
    -webkit-transform: translateY(-30px) scaleY(0.1);
            transform: translateY(-30px) scaleY(0.1);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  25% {
    -webkit-transform: translateY(-23.07692px);
            transform: translateY(-23.07692px);
    background-color: blue;
  }
  90% {
    -webkit-transform: translate(0, 0) scaleX(1);
            transform: translate(0, 0) scaleX(1);
    background-color: rgba(0, 0, 255, 0.5);
  }
  100% {
    -webkit-transform: translate(0, 0) scaleY(1);
            transform: translate(0, 0) scaleY(1);
    background-color: rgba(255, 255, 255, 0.25);
  }
}
@-webkit-keyframes flip-bottom {
  0% {
    -webkit-transform: translate(0, 0) scaleY(1);
            transform: translate(0, 0) scaleY(1);
  }
  5% {
    -webkit-transform: translateY(30px) scaleY(0.1);
            transform: translateY(30px) scaleY(0.1);
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
  }
  25% {
    -webkit-transform: translateY(23.07692px);
            transform: translateY(23.07692px);
    background-color: yellow;
  }
  90% {
    -webkit-transform: translate(0, 0) scaleX(1);
            transform: translate(0, 0) scaleX(1);
    background-color: rgba(255, 255, 0, 0.5);
  }
  100% {
    -webkit-transform: translate(0, 0) scaleY(1);
            transform: translate(0, 0) scaleY(1);
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.25);
  }
}
@keyframes flip-bottom {
  0% {
    -webkit-transform: translate(0, 0) scaleY(1);
            transform: translate(0, 0) scaleY(1);
  }
  5% {
    -webkit-transform: translateY(30px) scaleY(0.1);
            transform: translateY(30px) scaleY(0.1);
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
  }
  25% {
    -webkit-transform: translateY(23.07692px);
            transform: translateY(23.07692px);
    background-color: yellow;
  }
  90% {
    -webkit-transform: translate(0, 0) scaleX(1);
            transform: translate(0, 0) scaleX(1);
    background-color: rgba(255, 255, 0, 0.5);
  }
  100% {
    -webkit-transform: translate(0, 0) scaleY(1);
            transform: translate(0, 0) scaleY(1);
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.25);
  }
}
*/