body {
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.overlay {
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 10000;
  position: fixed;
  /*background: rgba(192, 192, 192, 0.5);*/
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}
