.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.overlay {
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 10000;
  position: fixed;
  display: flex;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.no-overlay {
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}
