body {
  background-color: #EFEFEF;
}

.header {
  z-index: 999;
  height: 70px;
  padding: 12px;
  background-color: #7B1FA2;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);

}

.main-logo {
  color: white;
}